
[general]
# time to force refresh the cache in seconds
cache_time=3600
# time to consider the cache outdated in seconds after update was done, prevent too frequent updates
cache_time_delay=5
cacheFile=data/entries.cache
cacheOutdatedFile=entries.cache.outdated
logFile=infopedia.log
# can tenants be automatically created when unknown tenant is found
tenantAutoCreationEnabled=true

[web]
useReadPhp=true

[entry]
cacheFile=data/entries.cache
dryRun=false
poll_timeout = 25

[notify]
poll_timeout = 25
re_read_timespan = 75
max_incr_file_size = 51200

[vote]
cacheFile=data/votes.cache

[dump]
dumpFile=data/dumps.log

[download]
allowedDownloadFiles[]= "InfoPedia.apk"
allowedDownloadFiles[]= "fayf.apk"
allowedDownloadFiles[]= "fayf.aab"
allowedDownloadFiles[]= "InfoPedia_Steckbrief.pdf"

[upgrade]
token = change-me
branch = dev
repo = PluggPreagar/infopedia_php
files = *.php *.html *.js *.md justfile assets/*
exclude =

[issue]
issueDir = data/issues
github_url = https://github.com/PluggPreagar/infopedia_php/issues/new
mailto = bugs@fayf.info
