
[general]
cache_time=3600
cache_time_delay=5
cacheFile=data/entries.cache
cacheOutdatedFile=entries.cache.outdated
logFile=infopedia.log
tenantAutoCreationEnabled=true

# Throttling (0 = disabled)
throttle_max=0
throttle_window=60
throttle_key=sid

[entry]
cacheFile=data/entries.cache
dryRun=true

[vote]
cacheFile=data/votes.cache

[dump]
dumpFile=data/dumps.log

[upgrade]
token =
branch = dev
repo = PluggPreagar/infopedia_php
files = *.php *.html *.js *.md justfile
exclude =
