
[general]
cache_time=3600
cacheFile=sheet.cache
googleSheetUrl="https://docs.google.com/spreadsheets/d/__SHEET_ID__/export?format=csv&gid=__SHEET_GRID_ID__"

[entry]
googleSheetId="..."
googleSheetGridId=123456789
cacheFile=entries.cache
# for post to formular
googlePostUrl="https://docs.google.com/forms/..../formResponse"
googlePostEntryId = entry.123456789
dryRun=true

[vote]
googleSheetId="..."
googleSheetGridId=123456789
cacheFile=votes.cache
# for post to formular
googlePostUrl="https://docs.google.com/forms/u/1/d/e/.../formResponse"
googlePostEntryId = entry.123456789

[dump]
googlePostUrl="https://docs.google.com/forms/u/1/d/e/.../formResponse"
googlePostEntryId = entry.123456789

