
[general]
cache_time=3600
cache_time_delay=5
cacheFile=sheet.cache
cacheOutdatedFile=entries.cache.outdated
googleSheetUrl="https://docs.google.com/spreadsheets/d/__SHEET_ID__/export?format=csv&gid=__SHEET_GRID_ID__"
logFile=infopedia.log
tenantAutoCreationEnabled=true

# Throttling (0 = disabled)
throttle_max=0
throttle_window=60
throttle_key=sid

[entry]
googleSheetId="..."
googleSheetGridId=123456789
cacheFile=entries.cache
# for post to formular
googlePostUrl="https://docs.google.com/forms/..../formResponse"
googlePostEntryId = entry.123456789
dryRun=true

[vote]
googleSheetId="..."
googleSheetGridId=123456789
cacheFile=votes.cache
# for post to formular
googlePostUrl="https://docs.google.com/forms/u/1/d/e/.../formResponse"
googlePostEntryId = entry.123456789

[dump]
googlePostUrl="https://docs.google.com/forms/u/1/d/e/.../formResponse"
googlePostEntryId = entry.123456789

