
[general]
# time to force refresh the cache in seconds
cache_time=3600
# time to consider the cache outdated in seconds after update was done, prevent too frequent updates
cache_time_delay=5
cacheFile=entries.cache
cacheOutdatedFile=entries.cache.outdated
googleSheetUrl="https://docs.google.com/spreadsheets/d/__SHEET_ID__/export?format=csv&gid=__SHEET_GRID_ID__"
logFile=infopedia.log

[web]
useReadPhp=true

[entry]
googleSheetId="1KUB95Du0p36pn79mqqkDMHFp8b8TSAYg1Pb3Vc2ODsw"
googleSheetGridId=1914851895
cacheFile=entries.cache
# for post to formular
googlePostUrl="https://docs.google.com/forms/u/1/d/e/1FAIpQLSc-A44mOBGJXoMT247yMXHutVpuuzSH-7JHwaQEBkViFfjABA/formResponse"
googlePostEntryId = entry.271598759
dryRun=false

[vote]
googleSheetId="1KUB95Du0p36pn79mqqkDMHFp8b8TSAYg1Pb3Vc2ODsw"
googleSheetGridId=749856142
cacheFile=votes.cache
# for post to formular
googlePostUrl="https://docs.google.com/forms/u/1/d/e/1FAIpQLScjflVHekmfD3Bj5E9dcf3qWGSWQg97WB9eaHC5BpsQugkfOA/formResponse"
googlePostEntryId = entry.47465480

[dump]
googlePostUrl="https://docs.google.com/forms/u/1/d/e/1FAIpQLSeSAjRYQn4862fM_3bocuVyBbXGUoyCw6T2qBUd4ojtdKbGoQ/formResponse"
googlePostEntryId = entry.858171307

