/* # CFFCFF    AAEFDF    9EE37D   63C132   358600 */

body {
    font-family: Arial, sans-serif;
    font-size: x-large;
    background-color: #CFFCFF;
    color: #358600;
    margin: 0;
    padding: 0;
}
h1, h2 {
    text-align: center;
    /* color: #63C132; */
}

h2 {
    font-size: medium;
}

/* class topic */
.topic {
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #9ee37d;
    text-decoration: none;
}

p, .leaf {
    color: #358600;
    text-decoration: none;
    background: transparent;
    cursor: default;
}

/* <a> below <td> */
td a, td p {
    border: 5px solid transparent;
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
    background: #AAEFDF;
    display: inline-block;
    width: 100%
}

td a:hover {
    color: #63C132;
    text-decoration: none;
}

table {
    max-width: 80%; /* Set the maximum width to 75% of the container */
    margin: 20px auto;
    border: 0px solid #63C132;
    border-collapse: collapse;
}
td {
    padding: 0px;
    border: 0px solid #63C132;
    text-align: center;

}
tr:nth-child(even) {
}
tr:nth-child(odd) {
}

/* Add media query for mobile devices */
@media (max-width: 1000px) {
    body {
        font-size: xxx-large; /* Increase font size for mobile devices */
    }
    h1, h2 {
        font-size: xxx-large; /* Adjust heading sizes for better visibility */
    }
    td {
        font-size: xxx-large; /* Ensure table content is readable */
        padding-top: 30px; /* Add margin for better spacing */
    }
}