body {
    font-family: Arial, sans-serif;
    font-size: large;
    background-color: #CFFCFF;
    color: #358600;
    margin: 0;
    padding: 0;
}
h1, h2 {
    text-align: center;
    color: #63C132;
}
a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #63C132;
    text-decoration: none;
}
table {
    width: 80%;
    margin: 20px auto;
    border: 0px solid #63C132;
    border-collapse: collapse;
}
td {
    padding: 10px;
    border: 0px solid #63C132;
    text-align: center;
}
tr:nth-child(even) {
}
tr:nth-child(odd) {
}

/* Add media query for mobile devices */
@media (max-width: 1000px) {
    body {
        font-size: xxx-large; /* Increase font size for mobile devices */
    }
    h1, h2 {
        font-size: xxx-large; /* Adjust heading sizes for better visibility */
    }
    td {
        font-size: xxx-large; /* Ensure table content is readable */
        padding-top: 30px; /* Add margin for better spacing */
    }
}